<!-- Heading and Dashbord Card Starts-->
<div class="jumbotorn bg-white text-center">
    <h1 class="display-4">Live Update</h1>
    <hr style="margin-left:2% ; margin-right: 2%;">
    <app-dashboard-card [totalConfirmed]='totalConfirmed' [totalDeaths]='totalDeaths' [totalActive]='totalActive'
        [totalRecovered]='totalRecovered'></app-dashboard-card>
</div>
<!-- Heading and Dashbord Card Ends-->

<!-- Radio Button Starts-->

<!-- <div class="ui form">
    <div class="inline fields">
        <label for="fruit">Select Case Type:</label>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" #c (click)='updateChart("c")' value="c" name="casetype" id="c" checked="" tabindex="0" class="hidden">
                <label for="c">Confirmed</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" #d (click)='updateChart("d")' value="d" name="casetype" id="d" tabindex="0" class="hidden">
                <label for="d">Deaths</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" #r (click)='updateChart("r")' value="r" name="casetype" id="r" tabindex="0" class="hidden">
                <label for="r">Recovered</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" #a (click)='updateChart("a")' value="a" name="casetype" id="a" tabindex="0" class="hidden">
                <label for="a">Active</label>
            </div>
        </div>
    </div>
</div> -->

<!-- Radio Button Ends-->
<!-- <hr> -->
<!-- Column Chart And Pie Chart Starts-->
<div class="row">
    <div class="col">

        <google-chart [data]="columnChart"></google-chart>
    </div>
    <div class="col">

        <google-chart [data]="pieChart"></google-chart>
    </div>

</div>

<!-- Column Chart And Pie Chart Ends-->