<div class="jumbotron bg-white text-center" style="padding-top: 3%;">
    <h1 class="display-4">Live Update Country Wise</h1>
    <hr>

    <div class="mx-auto">
        <div class="from-group col-lg-5 mx-auto">
            <label for='c'>Select Country</label><br>
            <select name="" class="from-control" id="c" #input (change)='updateValues(input.value)'>
                <option value="{{con}}" *ngFor='let con of countries'>{{con}}</option>
            </select>

        </div>
    </div>
    <hr>
    <app-dashboard-card [totalConfirmed]='totalConfirmed' [totalDeaths]='totalDeaths' [totalActive]='totalActive'
    [totalRecovered]='totalRecovered'></app-dashboard-card>


    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Date</th>
                    <th>Cases</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let cs of selectedCountryData; index as i'>
                    <td>{{i+1}}</td>
                    <td>{{cs.date | date}}</td>
                    <td>{{cs.cases}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>